body{
	margin:0 auto;	
}

*{
	/*border:1px solid red;	*/
}

textarea{
	width:90%;
	height:200px;
}

.btn{
	background-color:#428bca;
	color:white;
}

.btn:hover{
	color:white;
	background-color:#3276b1;
}

.btn:active{
	color:white;	
}

#button_parse, #button_headers, #button_get_output{
	float:left;	
	margin: 10px;
}

#button_parse, #button_get_output{
	margin-left:0;	
}

#masthead{
	height:100px;	
	background-color:#428bca;
	width:100%;
	color:white;
	text-align:Center;
}

#masthead h1{
	margin-top:0px;	
	line-height:100px;
}